body{
	background-color: darkgrey;
}
.logo{
	margin-top: 7%;
	margin-left: 33%;
	margin-bottom: 7%;
}
.prin{
	background-color: lightskyblue;
	padding-bottom: 5%;
}
.sec{
	background-color: white;
	text-align: center;
}
.footer{
	background-color: darkgrey;
	color:white;
}
